<!doctype html>
<html lang="en-US">
<head>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
  <title>{{ t 'common.titleTagResetPassword' }}</title>
  <meta name="description" content="Reset Password Email.">
  <style type="text/css">
    @import url(https://fonts.googleapis.com/css?family=Rubik:300,400,500,700|Open+Sans:300,400,600,700);

    body {
      font-family: 'Open Sans', sans-serif;
    }

    a:hover {
      text-decoration: underline !important;
    }

    table.table {
      background-color: #f2f3f8;
      margin: 0 auto;
      border: 0;
    }

    table.content {
      max-width: 670px;
      background: #fff;
      border-radius: 3px;
      text-align: center;
      -webkit-box-shadow: 0 6px 18px 0 rgba(0, 0, 0, .06);
      -moz-box-shadow: 0 6px 18px 0 rgba(0, 0, 0, .06);
      box-shadow: 0 6px 18px 0 rgba(0, 0, 0, .06);
    }

    h1 {
      color: #1e1e2d;
      font-weight: 500;
      margin: 0;
      font-size: 32px;
      font-family: 'Rubik', sans-serif;
    }

    p {
      color: #455056;
      font-size: 15px;
      line-height: 24px;
      margin: 0;
    }

    .link {
      background: #5472d4;
      text-decoration: none !important;
      font-weight: 500;
      margin-top: 35px;
      color: #fff;
      text-transform: uppercase;
      font-size: 14px;
      padding: 10px 24px;
      display: inline-block;
      border-radius: 50px;
    }
  </style>
</head>

<body marginheight="0" marginwidth="0" style="margin: 0; background-color: #f2f3f8;">
<!--100% body table-->
<table class="table">
  <tr>
    <td>
      <table class="table">
        <tr>
          <td style="height:80px;">&nbsp;</td>
        </tr>
        <tr>
          <td style="height:20px;">&nbsp;</td>
        </tr>
        <tr>
          <td>
            <table class="content">
              <tr>
                <td style="height:40px;">&nbsp;</td>
              </tr>
              <tr>
                <td style="padding:0 35px;">
                  <h1>
                    {{ t 'common.titleResetPassword' }}
                  </h1>
                  <br>
                  <p>
                    {{ t 'common.textResetPassword' }}
                  </p>
                  <a href="{{url}}" class="link">
                    {{ t 'common.buttonResetPassword' }}
                  </a>
                </td>
              </tr>
              <tr>
                <td style="height:40px;">&nbsp;</td>
              </tr>
            </table>
          </td>
        <tr>
          <td style="height:20px;">&nbsp;</td>
        </tr>
        <tr>
          <td style="height:80px;">&nbsp;</td>
        </tr>
      </table>
    </td>
  </tr>
</table>
</body>
